<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tech-Blog</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" media="screen" title="no title" charset="utf-8">
    <link href='{{site.baseurl}}/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script src="{{site.baseurl}}/Scripts/jquery-3.1.0.min.js"></script>
    <script src="{{site.baseurl}}/Scripts/bootstrap.min.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->


</head>

<body>
    <header>
        <div class="container">
            {% include navbar.html %}
        </div>
    </header>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                {{content}}
            </div>
        </div>
    </div>

</body>

</html>
